/*
Author       : Webful Creations Vision (https://themeforest.net/user/webfulcreationsvision/portfolio)
Template Name: Education - College, University, School, Institutes Responsive HTML Template
Version      : 1.0
CopyRight    : 2016 @ www.webfulcreations.com
*/
/*=============================================================
    TABLE OF CONTENTS
    =============================
    01 - General CSS starts 
	02 - Useful Elements CSS Starts
	03 - Top bar CSS starts
	04 - Header CSS Starts
	05 - Header Style 2
	06 - Banner CSS Starts
	07 - Information Boxes CSS
	08 - Welcome Message CSS
	09 - Our Courses CSS
	10 - Our Teachers CSS
	11 - Seminar/Events CSS
	12 - Gallery CSS starts
	13 - Our Process
	14 - Testimonials Starts
	15 - Blog Posts Starts
	16 - Brands Carousel Starts
	17 - Call to Action Box
	18 - Title Section CSS
	19 - Page Preloader
	20 - Single-teacher CSS
	21 - Styles For Inner Pages
		 21.1 - Contact Us Page
		 21.2 About Us Page
		 21.3 - 404 Error Page
		 21.4 Boxed Page
		 21.5 Testimonials Page
		 21.6 - Blog Page
		 21.7 - Our Staff  CSS
		 21.8 Courses Pages
	22 - Sidebars CSS
	23 - Products Section CSS
	24 - Pricing-list CSS  Starts
	25 - Footer
	26 - Mobile Adjustments Media Queries
		 26.1 Top Navigation settings
		 26.2 Footer Settings           
  =============================================================*/


/*-------------------------
 01 - General CSS starts
-------------------------*/
body {
	font-family:'Lato', sans-serif;
	line-height:25px;
	font-size:0.875rem;
	font-weight:400;
    padding:0;
    margin:0;
    font-style:normal;
	color:#5d5d5d;
}
h1, h1 a { 
	font-size:2rem;
    margin-bottom:15px;
}
h2, h2 a {
	font-size:1.75rem;
}
h3, h3 a { 
	font-size:1.50rem;
}
h4, h4 a { 
	font-size:1.25rem;
}
h5, h6, h5 a, h6 a {
	font-size:1rem; 
}
label, p, ul, ol, a, blockquote, input, textarea, select, [type=date], [type=text], [type=email], span { 
	font-size:0.875rem;
	line-height:25px;
	color:#5d5d5d;
}
h1,h2,h3,h4,h5,h6, h2 a, h3 a, h4 a, h5 a, h6 a, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	font-family:'Montserrat', sans-serif;
	font-weight:bold;
	color:#2f2f2f;
}
a:hover {
	color:#ec3437; 
}
iframe {
	width:100%;
	border:0px; 
}
.button {
	text-transform:uppercase;
	font-weight:bold;
	font-family:'Montserrat', sans-serif;
}
.button.primary {
	background-color:#174873; 
}
.button.primary:hover {
	background-color:#ec3437; 
}
.button.secondary {
	background-color:#ec3437; 
}
.button.secondary:hover {
	background-color:#174873; 
}
.bordered-light {
	background-color:transparent !important;
	border:1px solid #FFF; 
}
.bordered-light:hover {
	background-color:#ec3437 !important;
	border-color:#ec3437 !important;	 
}
.bordered-dark {
	background-color:transparent !important;
	border:1px solid #2f2f2f !important; 
	color:#2f2f2f !important;
}
.bordered-dark:hover {
	background-color:#2f2f2f !important;
	border-color:#2f2f2f !important;
	color:#FFF !important;	 
}
.module {
	position:relative;
	margin-bottom:80px; 
}
dl dt {
	font-weight:bold;
	margin-bottom:.3rem;
}
iframe {
	width:100%;
}
/*-------------------------
General CSS Ends
-------------------------*/

/*-------------------------
 02 - Useful Elements CSS
-------------------------*/
.section-title-wrapper {
	position:relative; 
	margin-bottom:40px;
}
.section-title { 
	overflow:hidden;
    position:relative;
    text-align:center;
}
.section-title h2 {
	margin-bottom:0px;
    text-transform:uppercase; 
	font-weight:bold !important;
}
.section-title p {
	font-size:1rem;
    text-transform:capitalize;
	margin-bottom:20px; 
}
.section-title-wrapper::after {
    bottom:-6px;
    color:rgb(236, 52, 55);
    content:"\f19d";
    font-family:fontawesome;
    font-size:14px;
    height:17px;
    left:0px;
    position:absolute;
    right:0px;
    text-align:center;
    width:39px;
    z-index:9;
    background:none 0px 0px repeat scroll rgb(255, 255, 255);
    margin:0px auto;
}
.section-title-wrapper:before {
    background:#ec3437 none repeat scroll 0 0;
    bottom:0;
    content:"";
    height:1px;
    left:0;
    margin:0 auto;
    position:absolute;
    right:0;
    text-align:center;
    width:109px;
}
.section-title-wrapper.light-title h2, .section-title-wrapper.light-title p {
	color:#FFF; 
}
.section-title-wrapper.light-title:before {
	background-color:#FFF;	
}
.section-title-wrapper.light-title::after {
	background-color:#353536;	 
	color:#FFF;
}
.grey-bg .section-title-wrapper::after {
	background:none 0px 0px repeat scroll rgb(247, 247, 247); 
}
.owl-nav {
	text-align:center;
	margin:auto; 
	width:90px;
	margin-top:15px;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
	display:block;
	width:25px;
	height:25px;
	border:1px solid #ec3437;
	text-align:center;
	display:inlne-block;
	float:left;
	margin-left:5px;
	margin-right:5px;
	background-color:#FFF;
	color:#ec3437;
}
.owl-nav .owl-prev i, .owl-nav .owl-next i {
	line-height:25px; 
	font-size:1.2rem;
	margin-top:-1px;
}
.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
	background-color:#ec3437;
	color:#FFF;		 
}
.space-section .row .small-12 {
	margin-top:15px;
	margin-bottom:15px; 
}
.space-section .row .small-12:last-child { 
	margin-bottom:0px;
}
.space-section .row .small-12:first-child {
	margin-top:0px; 
}
.space-section .row .medium-6:nth-child(2) {
	margin-top:0px; 
}
.space-section .row .medium-4:nth-child(2), .space-section .row .medium-4:nth-child(3) { 
	margin-top:0px;
}
.row .sidebar.small-12 {
	margin-top:0px; 
}
/*-------------------------
Useful Elements CSS Ends
-------------------------*/

/*-------------------------
 03 - Top bar CSS starts
-------------------------*/
.topBar {
	background-color:#174873;
	width:100%; 
	border-bottom:1px solid #ededed;
}
.topBar p {
	color:#FFF;
	margin-bottom:0px; 
	float:left;
	padding:7px;
}
.topBar ul {
	text-align:right; 
}
.topBar ul li {
	color:#FFF;
	padding:7px;
	text-align:right;
	display:inline-block;
}
.topBar ul .social {
	padding:0px; 
}
.topBar ul .first-social {
	padding-left:25px; 
}
.topBar ul li a {
	padding-left:5px;
	padding-right:5px;
	color:#FFF; 
}
.topBar ul li a:hover {
	color:#ec3437; 
}
/*-------------------------
Top bar CSS Ends
-------------------------*/

/*-------------------------
 04 - Header CSS Starts
-------------------------*/
.header {
	position:relative;
	z-index:99999999;
	padding-top:25px;
	padding-bottom:25px; 
	-moz-box-shadow:rgba(0, 0, 0, 0.239216) 0px 4px 9px 0px;
    box-shadow:rgba(0, 0, 0, 0.239216) 0px 4px 9px 0px;
    transform:translateZ(0);
	-webkit-transform:translateZ(0);
}
.header .logo img {
	height:40px;
	width:auto; 
}
.search-wrap a {
	font-size:1rem; 
	line-height:40px;
}
#search-dropdown input[type=text] {
	margin-bottom:0px; 
}
.top-bar {
	padding:0px; 
	width:calc(100% - 20px);
	float:left;
	background-color:transparent;
}
.top-bar ul {
	margin:0px;
	font-weight:normal;
	z-index:9999;
	background:#FFF;
}
.top-bar ul .first-sub { 
	border-top:2px solid;
}
.top-bar ul li a {
	text-transform:uppercase;
	font-size:0.875rem;
}
.top-bar ul ul li a {
	text-transform:capitalize;
} 
.top-bar {
	position:relative;	
	font-family:'Montserrat', sans-serif;
} 
.top-bar ul ul {
	padding-top:0px;
	padding-bottom:0px; 
	z-index:99999 !important;
	border:0px !important;
}
.top-bar .is-dropdown-submenu-parent {
	position:relative; 
}
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after {
	border:0px; 
}
.dropdown.menu.medium-horizontal>li>a {
	padding:12px; 
}
.top-bar .dropdown.menu>li.opens-right>.is-dropdown-submenu { 
	position:absolute;
	max-width:100%;
	margin-top:26px;
}
.top-bar li {
	list-style:none; 
}
.single-sub ul li a {
	width:100%;
	padding:10px;
	font-weight:normal;
}
.responsive-menu ul li a { 
 	display:block;
	width:100%;
 }
.top-bar, .top-bar ul {
	background-color:transparent; 
}
.top-bar ul .first-sub { 
	border-top-color:#174873 !important;
}
.top-bar ul li a {
	color:#174873;
	border-bottom:2px solid transparent;
}
.is-active a, .top-bar ul li a:hover {
	color:#ec3437 !important;
	border-bottom:2px solid #ec3437 !important;
}
.top-bar .dropdown.menu>li.opens-right>.is-dropdown-submenu li a {
	border-bottom:0px !important;
	background-color:#174873;
	color:#FFF !important; 
}
.top-bar .dropdown.menu>li.opens-right>.is-dropdown-submenu li a:before{
    content:"\00BB";
	margin-right:10px;
}
.top-bar .dropdown.menu>li.opens-right>.is-dropdown-submenu li a:hover {
	color:#ec3437 !important; 
}
.is-active ul li a {
	background-color:#FFF; 
	color:#174873 !important;
}
.menu .active>a {
	 background-color:#174873;
	 color:#FFF;
}
.single-sub ul li a {
	border-bottom-color:#174873 !important; 
}
/*-------------------------
Header CSS Ends
-------------------------*/

/*-------------------------
 05 - Header Style 2
-------------------------*/
.navigation-style-two {
	background-color: #174873;  
}
.navigation-style-two .search-wrap a {
	line-height:52px; 	 
}
.navigation-style-two .search-wrap a, .navigation-style-two .top-bar ul li a {
	color:#FFF;
}
.navigation-style-two .dropdown.menu.medium-horizontal>li>a {
	padding-top:18px;
	padding-bottom:18px; 
}
.navigation-style-two .top-bar .dropdown.menu>li.opens-right>.is-dropdown-submenu {
	margin-top:0px;
	border-top:1px solid #ec3437 !important; 
}
.navigation-style-two .is-active a, .navigation-style-two .top-bar ul li a:hover {
	border-bottom:0px !important; 
}
.topBar .topbar-new ul {
	text-align:left; 
}
.topBar .topbar-new ul li a {
	padding-top:5px;
	padding-bottom:5px; 
}
.header-new .text-right p {
	margin-bottom:0px;
	font-size:1.5rem; 
	line-height:40px;
	font-family:'Montserrat', sans-serif;
	color:#ec3437;
}
.topbar-new {
	background-color:#2f2f2f; 
}
/*-------------------------
Header Style 2 Ends
-------------------------*/

/*-------------------------
 06 - Banner CSS Starts
-------------------------*/
.main-banner {
	position:relative; 
}
.rev_slider_wrapper { 
	margin:0px auto;
	background-color:transparent;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
}
.layer1 {
	z-index:5;
	background-color:rgba(0, 0, 0, 0.25);
	border-color:rgba(0, 0, 0, 1.00); 
}
.layer2 {
	z-index:6; 
	min-width:721px; 
	max-width:721px; 
	white-space:normal;
	text-align:center; 
}
.layer3 {
	z-index:7; 
	white-space:nowrap; 
	background-color:#174873 !important;
	color:#fff !important;
	padding:5px 10px !important;
}
.layer4 {
	z-index:8; 
	white-space:nowrap;
	outline:none;
	box-shadow:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.layer4 a {
	color:#FFF; 
}
.layer4:hover {
	background-color:#174873 !important;
	border-color:#174873 !important;  
}
.tp-bannertimer{ 
	height: 7px !important;
	background-color: rgba(255, 255, 255, 0.25) !important;
}
/*-------------------------
Banner CSS Ends
-------------------------*/

/*-------------------------
 07 - Information Boxes CSS
-------------------------*/
.courses-info, .faculty-info, .newadmission-info { 
	position:relative;
	padding:30px 30px;
}
.courses-info::after, .faculty-info::after, .newadmission-info::after  {
	content:"";
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    z-index:-1;
}
.courses-info { 
	background-color:rgba(10, 104, 177, 0.95);
}
.courses-info::after {
    background:url('images/help/courses.jpg');
}
.faculty-info {
	background-color:rgba(23, 72, 115,0.95);
}
.faculty-info::after {
    background:url('images/help/faculty.jpg');
}
.newadmission-info {
	background-color:rgba(10, 104, 177, 0.95);
}
.newadmission-info::after {
    background:url('images/help/admission.jpg');
}
.information-boxes h3 {
	color:#FFF;
	text-align:center;
	text-transform:uppercase; 
}
.information-boxes {
	text-align:center; 
}
.information-boxes p, .information-boxes ul {
	color:#FFF; 
	text-align:left;
}
.information-boxes .button {
	margin-bottom:0px; 
	margin:auto;
}
.course-page .tabs {
	 text-align:left;
}
/*-------------------------
Information Boxes CSS Ends
-------------------------*/

/*-------------------------
 08 - Welcome Message CSS
-------------------------*/
.welcome-message h2 {
	text-transform:uppercase;
	font-size:1.850rem;
	margin-bottom:0px;
}
.welcome-message h2 span {
	color:#ec3437;
	font-size:1.850rem;
}
.welcome-message h3 {
	font-weight:normal;
	text-transform:capitalize;
	font-size:1.25rem;
}
.welcome-message .button {
	margin-bottom:0px; 
}
/*-------------------------
Welcome Message CSS Ends
-------------------------*/

/*-------------------------
 09 - Our Courses CSS
-------------------------*/
.our-courses {
	background-color:#f7f7f7;
	border-top:1px solid #ededed;
	border-bottom:1px solid #ededed;
	padding-top:80px;
	padding-bottom:80px; 
}
.course-wrapper {
	position:relative; 
}
.tabs {
	margin-bottom:40px;
	text-align:center; 
	background-color:transparent;
	border-color:transparent;
}
.tabs .tabs-title {
	float:none;
	display:inline; 
}
.tabs .tabs-title a {
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px; 
	font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0px 10px;
    text-transform: uppercase;
}
.tabs .tabs-title.is-active a {
	background-color:transparent;
	border-bottom:0px !important; 
}
.tabs-panel { 
	background-color:transparent !important;
	width:100%;
	padding:0px;
}
.tabs-content {
	border:0px;
	background-color:transparent; 
}
.course {
	background-color:#FFF; 
	padding:10px;
	position:relative;
	box-shadow: 0 0 6px 1px rgb(234, 234, 234);
}
.course h3 {
	font-weight:normal; 
}
.course .course-thumb {
	position:relative; 
	margin-bottom:35px;
}
.course .teacher {
	width:75px;
	height:75px;
	border:3px solid #ec3437;
	border-radius:100%;
	position:absolute;
	bottom:-20px; 
	z-index:5;
}
.course .teacher-name { 
	position:absolute;
	bottom:0px;
	background-color:#0a68b1;
	color:#FFF;
	left:65px;
	padding:5px 15px;
	z-index:3;
	border-radius:0px 10px 10px 0px;
	font-weight:bold;
}
.course .price-tag {
	position:absolute;
	right:0px;
	bottom:0px;
	background-color:rgba(10, 104, 177, 1);
	color:#FFF; 
	padding:5px 10px;
	font-weight:bold;
	border-radius:5px;
	font-size:1rem;
}
.is-active .bordered-dark {
	background-color:transparent !important;
	border:1px solid #2f2f2f !important; 
	color:#2f2f2f !important;
}
.is-active .secondary {
	color:#FFF !important; 
}
.is-active .secondary:hover {
	border-color:transparent !important; 
}
.is-active .bordered-dark:hover {
	background-color:#2f2f2f !important;
	border:1px solid #2f2f2f !important; 
	color:#FFF !important;
}
.course .button {
	margin-bottom:0px; 
}
.course ul li i {
	margin-right:10px; 
}
/*-------------------------
Our Courses CSS Ends
-------------------------*/

/*-------------------------
 10 - Our Teachers CSS
-------------------------*/
.teacher {
	position:relative; 
}
.teacher .teacher-thumb img {
	width:100%;
	height:auto;
	border-radius:100%;
	z-index:2;
}
.teacher .teacher-thumb {
	position:relative;
	background-color:rgba(23,72,115,1);
	border-radius:100%;
	border:2px solid #ec3437;
}
.teacher:hover>.teacher-thumb img { 
	opacity:.6;
}
.teacher:hover>.teacher-thumb .teacher-links {
	opacity:1; 
}
.teacher-links .menu li a {
	font-size:1rem;
	display:block;
	width:35px;
	height:35px;
	background-color:#ec3437;
	color:#FFF; 
	line-height:35px;
	padding:0px;
	margin:0px 5px;
	border-radius:100%;
	text-align:center;
}
.teacher-links .menu>li>a i {
	line-height:35px;
	margin-left:0px;
	margin-right:0px; 
}
.teacher-links{
	text-align:center; 
	position:absolute;
	bottom:20px;
	z-index:5;
	width:100%;
	opacity:0;
}
.small-button {
	display:table;
	margin:auto;
	margin-top:10px;
	padding:5px 15px;
	border:1px solid #ec3437;
	color:#FFF;
	background-color:#ec3437;
	border-radius:20px;
	text-transform:uppercase;
}
.small-button:hover, .teacher-links .menu li a:hover {
	color:#ec3437;
	background-color:#FFF;
	border-color:transparent;	 
}
.teacher-meta {
	text-align:center; 
}
.teacher-meta h3 a {
	font-weight:normal; 
}
.teacher-meta h3 { 
	margin-top:15px;
	font-weight:normal;
}
/*-------------------------
Our Teachers CSS Ends
-------------------------*/

/*-------------------------
 11 - Seminar/Events CSS
-------------------------*/
.seminar-events {
	position:relative;
	padding-top:80px;
	padding-bottom:80px; 
	background-color:rgba(47, 47, 47, 0.9);
}
.seminar-events::after  {
	content:"";
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    z-index:-1;
	background:url('images/help/eventsbgbk.jpg');
	background-size:cover;
}
.event {
	background-color:rgba(255,255,255,0.95);
	border-radius:5px;
	padding:0px 0px; 
}
.event-data {
	padding-top:15px;
	padding-bottom:15px; 
}
.event h4 a {
	font-weight:normal;
	text-transform:uppercase; 
}
.event .button {
	margin-bottom:0px; 
}
.event .event-thumb {
	position:relative; 
	padding-right:0px;
}
.event .event-thumb img {
	border-radius:0px 5px 5px 0px; 
	width:100%;
	height:auto;
	margin-left:1px;
}
.event-date {
	background-color:transparent;
	position:absolute;
	top:0px;
	left:100%;
	text-transform:uppercase;
	font-weight:normal; 
	font-family:'Montserrat', sans-serif;
	font-size:1.5rem;
	text-align:center;
	color:#2f2f2f;
}
.event-day {
	background-color:#ec3437;
	color:#FFF;
	display:block;		 
	margin-bottom:15px;
	padding:10px;
	border-radius:0px 5px 5px 0px;
}
.event-month {
	background-color:#ec3437; 
	color:#FFF;
	display:block;
	margin-top:15px;
	padding:10px;
	border-radius:0px 5px 5px 0px;
}
.events-wrapper .columns:nth-child(3), .events-wrapper .columns:nth-child(4) {
	/*margin-top:30px;*/
}
/*-------------------------
Seminar/Events CSS Ends
-------------------------*/

/*-------------------------
 12 - Gallery CSS
-------------------------*/
.gallery-thumb {
	max-width:335px;
	margin-top:2px;
	margin-bottom:2px;
}
.gallery-thumb:hover {
	opacity:.7; 
}
/*-------------------------
Gallery CSS Ends
-------------------------*/

/*-------------------------
 13 - Our Process
-------------------------*/
.upper-background { 
	height:100%;
	width:auto;
	position:absolute;
	bottom:0px;
	left:0px;
}
.our-process h2 {
	color:#FFF; 
	font-size:2.5rem;
	text-transform:uppercase;
	margin-bottom:40px;
	color:#ec3437;
}
.process h3, .process p {
	color:#FFF;
	margin-bottom:0px; 
}
.process h3 {
	text-transform:capitalize;
	font-weight:normal; 
}
.process .number {
	float:left;
	font-size:2rem;
	background-color:#f7f7f7;
	color:#2f2f2f;
	display:block;
	width:60px;
	height:60px;
	border-radius:100%;
	text-align:center;
	line-height:60px;
	margin-right:25px;
	font-weight:bold;
}
.process .right-info {
	float:left; 
}
.process {
	margin-bottom:30px; 
}
.our-process .process:last-child {
	margin-bottom:0px; 
}
/*-------------------------
Our Process Ends
-------------------------*/

/*-------------------------
 14 - Testimonials Starts
-------------------------*/
.testimonial {
	background-color:#f7f7f7;
	border-radius:5px;
	border:1px solid #ededed;
}
.testimonial .testimonial-thumb {
	float:left; 
}
.testimonial h4 {
	font-weight:normal;	 
}
.testimonial .testimonial-detail {
	float:left; 
	width:calc(100% - 212px);
	padding:10px;
}
.testimonial .testimonial-thumb img {
	height:200px;
	width:auto;
	border-radius:5px 0px 0px 5px;
	border-right:1px solid #ededed; 
}
.testimonial cite {
	color:#2f2f2f; 
}
/*-------------------------
Testimonials Ends
-------------------------*/

/*-------------------------
 15 - Blog Posts Starts
-------------------------*/
.blog-posts {
	background-color:#f7f7f7;
	border-top:1px solid #ededed;
	border-bottom:1px solid #ededed;
	padding-top:80px;
	padding-bottom:80px; 
}
.post {
	position:relative; 
}
.post-thumb {
	z-index:2; 
}
.post p {
	margin-bottom:0px; 
}



.post h4, .post h4 a {
	margin-bottom:0px;
	font-weight:normal;
}
.post-meta, .post-meta a {
	font-size:12px;
	line-height:20px; 
}
.post-meta {
	margin-top:5px;
	margin-bottom:5px;
	border-top:1px solid #ededed;
	border-bottom:1px solid #ededed; 
}
.post-content {
	background-color:#FFF; 
	width:calc(100% - 30px);
	padding:15px;
	z-index:5;
	margin-top:-30px;
	position:relative;
	margin-left:15px;
}
.load-more .button {
	margin-top:15px;
	margin-bottom:0px; 
} 
/*-------------------------
Blog Posts Ends
-------------------------*/

/*-------------------------
 16 - Brands Carousel
-------------------------*/
.brands-wrap {
	margin-bottom:80px; 
} 
.bran-logo {
	padding:5px; 
}
.bran-logo .thumbnail {
	margin-bottom:0px; 
	border:1px solid #ededed;
	padding:3px;
	opacity:.8;
	height:55px;
	width:auto !important;
}
.bran-logo .thumbnail:hover {
	opacity:1; 
}
.side-controls .owl-controls {
	margin-top:0px; 
} 
.side-controls .owl-prev , .side-controls .owl-next { 
	font-size: 19px;
    border: 1px solid;
    width: 25px;
    height: 25px;
    display: table;
    text-align: center;
    position: absolute;
    top: 50%;
	margin-top:-12.5px;
}
.side-controls .owl-next { 
	right:-20px;
}
.side-controls .owl-prev { 
	left:-20px;
}
.side-controls .owl-controls { 
	margin: auto;
    display: block;
    width: 0px;
	margin-top:0px;
}
.side-controls .owl-nav {
	margin-top:0px; 
}
/*-------------------------
Brands Carousel Ends
-------------------------*/

/*-------------------------
 17 - Call to Action Box
-------------------------*/
.call-to-action { 
	padding-top:25px;
	padding-bottom:25px;
}
.call-to-action i {
	border:1px solid #2f2f2f;
	width:40px;
	height:40px;
	text-align:center; 
	line-height:40px;
	margin-right:15px;
}
.call-to-action h2 span { 
	color:#ec3437;
	font-size:1.25rem;
}
.call-to-action h2 {
	font-size:1.25rem;
	font-weight:normal;
	margin-bottom:0px;
}
.call-to-action p {
	margin-bottom:0px;
}
.call-to-action .button {
	margin-bottom:0px; 
}
.call-to-action { 
	background-color:#f7f7f7 !important;
	border-top:1px solid #ededed;
	border-bottom:1px solid #ededed;
}
/*-------------------------
Call to Action Box Ends
-------------------------*/

/*-------------------------
 18 - Title Section CSS
-------------------------*/
.title-section {
    padding-top:25px;
    padding-bottom:25px;
    position:relative;
	background-color:rgba(27, 27, 27, 0.9);
}
.title-section::after {
    content:"";
    background:url('images/help/title-bg.jpg');
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    z-index:-1;
	background-size:cover;
}
.title-section h1 {
    text-transform:uppercase;
    margin-top:0px;
    margin-bottom:5px;
	color:#FFF;
}
.title-section ul {
    margin: 0px;
}
.breadcrumbs li, .breadcrumbs li a {
    font-size: 0.65rem;
}
.breadcrumbs li, .breadcrumbs li a {
    color: #FFF;
}
/*-------------------------
Title Section CSS Ends
-------------------------*/

/*-------------------------
 19 - Page Preloader
-------------------------*/
#loading{
	background-color:#f7f7f7;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999999999;
	margin-top: 0px;
	top: 0px;
}
#loading.loaded {
	display:none !important; 
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}
#object{
	width: 80px;
	height: 80px;
	background-color: #174873;
	-webkit-animation: animate 1s infinite ease-in-out;
	animation: animate 1s infinite ease-in-out;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% { 
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); 
  } 50% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
  } 100% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
}
/*-------------------------
Page Preloader Ends
-------------------------*/

/*-------------------------
 20 - Single-teacher CSS
-------------------------*/
.progress .ninty-five {
    width: 95%;
}
.progress .sixty-five { 
	width:65%;
}
.progress .seventy-five { 
	width:75%;
}
.progress .eighty-five { 
	width:85%;
}
.single-teacher .staff-links {
	width:100%;
	position:static;
}
.courses-table-heading {
	background-color:#ec3437; 		 	
	padding-top:10px;
	padding-bottom:10px;
}
.courses-table-row div{
	float:left;
}
.courses-table-heading h5 {
	color:#fff;
	font-weight:normal;
	margin-bottom:0px;
	text-transform:uppercase;
	text-align:center;
}
.courses-detail {
	background-color:#f7f7f7;
	border-top:1px solid #fff;
	padding-top:5px;
	padding-bottom:5px; 	
} 
.courses-detail span{
	margin-top:10px;
	text-transform:capitalize;
	border-bottom:1px solid #fff;
	text-align:center; 	
}
.courses-detail span:last-child {
	border-bottom:0px;
}
.course-id {
	border-right:1px solid #fff; 	
	min-width: 70px;
    width: 70px;
	text-align:center; 	
}
.course-name {
	border-right:1px solid #fff; 	
	min-width: 555px;
    width: 555px; 	
}
.course-name a{
	text-align:left;
	padding-left:30px; 	
}
.course-duration {
	border-right:1px solid #fff; 	
	min-width: 230px;
    width: 230px;
	text-align:center; 	
}
.course-time-line { 		
	min-width: 315px;
    width: 315px;
	text-align:center; 	
}
.courses-table-row:after { 
	clear:both !important;
	content: ' ';
    display: table;
}
/*-------------------------
 Single-teacher CSS  starts
-------------------------*/

/*-------------------------
 21 - Styles For Inner 
      Pages Starts
-------------------------*/

/*-------------------------
 21.1 - Contact Us Page
-------------------------*/
.content-section h2 {
	font-weight:normal; 
}
.content-section label {
	font-weight:bold;
}
.contact-info {
	margin-bottom:25px; 
}
.content-section h4 {
	font-weight:normal; 
}
.contact-info h4 {
	border-bottom:1px solid #ededed;
	padding-bottom:4px;
	margin-bottom:15px; 
}
.contact-info p {
	margin-bottom:0px; 
}
.contact-info img {
	width:100%;
	height:auto; 
}
.contact-form .button {
	margin-bottom:0px; 
}

/*-------------------------
 21.2 About Us Page
-------------------------*/
.icon-box {
    position: relative;
    clear: both;
}
.icon-box .icon-side {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 55px;
    margin-right: 7px;
	color: #FFF !important;
    background-color: #ec3437;
}
.icon-box .info-side {
    margin-left: 7px;
    font-size: 16px;
    padding-top: 0px;
    width: calc(100% - 70px);
}
.info-side p strong {
    font-size: 18px;
	color:#2f2f2f;
	font-family:'Montserrat', sans-serif;
}
.icon-box p {
    margin-bottom: 0px;
}

/*-------------------------
 21.3 - 404 Error Page
-------------------------*/
.pageerror h2 {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    font-size: 133px;
}
.pageerror h3 {
    text-align: center;
}
.error-page-form {
	margin:auto !important;
	margin-top:30px;
	float:none !important; 
}

/*-------------------------
 21.4 - Boxed Page
-------------------------*/
.boxed {
    max-width: 1250px;
    margin: auto;
    box-shadow: 0px 0px 6px 1px #CCC;
	background-color:#FFF;
	position:relative;
	z-index:0;
}
body.box {
    background-image: url(images/help/bodybg.jpg);
    background-repeat: repeat;
	z-index:-10;
}
.box .main-banner {
	overflow:hidden; 
}
.box .gallery-thumb {
	max-width:310px; 
}

/*-------------------------
 21.5 - Testimonials Page
-------------------------*/
.testimonial-page .testimonial .testimonial-thumb img {
	height:145px;
	width:auto; 
}

/*-------------------------
21.6 - Blog Page
-------------------------*/
.pagination {
	text-align:center; 
	margin-bottom:0px;
	margin-top:30px;
}
.pagination .current {
	background:#174873;
	padding:0px;
}
.pagination .current a {
	color:#FFF; 
}
.pagination .current a:hover, .pagination a:hover {
	background-color:#174873; 
	color:#FFF;
}
.blog-page .featured-image {
	position:relative; 
}
.blog-page .blog-post {
	border-bottom:1px solid #ededed;
	margin-bottom:30px; 
}
.blog-page .blog-post.last-post {
	margin-bottom:0px; 
}
.blog-page .post-meta {
	border-top:0px;
	border-bottom:0px;
	background-color:#ec3437;
	padding:10px;
	max-width:370px;
	color:#FFF; 
	position:absolute;
	bottom:15px;
	left:4px;
}
.blog-page .post-meta a {
	color:#FFF; 
}
.blog-post .post-excerpt h4 {
	font-weight:bold;
}
.sharing-posts {
	border-top:1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.post-share a {
	margin-right:10px;
	margin-left:10px; 
	padding-top:0px;
	padding-bottom:0px;
}
.post-tags .tags li a {
	border:0px; 
	background-color:transparent;
	color:#3b3d42;
	padding-left:7px;
	padding-right:7px;
}
.post-tags .tags {
	margin-bottom:0px; 
}
.single-post .sharing-posts  .small-12{
  	margin-top : 0px;
	margin-bottom: 0px;
}
.author-box {
	margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EDEDED;
}
.content-section .events-wrapper .event {
	border:1px solid #ededed; 
	
}





/*-----------------------
 21.7 - Our Staff  CSS
------------------------*/
.staff-introduction h2 {
	border-bottom:1px solid #ededed;
}
.shadow {
    box-shadow: 0px 0px 2px 1px #CCC;
    padding: 10px;
}
.staff-detail h4, h4 a {
    margin-top: 10px;
	font-weight:normal;
}
.staff-detail h4 a, h4 span{
   	font-weight:normal;
}
.section-title h2 span {
    padding-bottom: 10px;
    margin-bottom: 30px;
    display: block;
    font-size: 1.6rem;
    text-align: center;
    margin-left: 15px;
}
.staff-box {
	position:relative;
}
.staff-links{
    width: 100%;
    position: absolute;
 	bottom:10px;
	left:0px;
}
.staff-links .menu>li>a i {
    line-height: 35px;
    margin-left: 0px;
    margin-right: 0px;
}
.staff-links .menu li a {
    font-size: 1rem;
    display: block;
    width: 35px;
    height: 35px;
    background-color: #ec3437;
    color: #FFF;
    line-height: 35px;
    padding: 0px;
    margin: 0px 5px;
    border-radius: 100%;
    text-align: center;
}
.staff-links .menu li a:hover {
	color:#ec3437;
	background-color:#FFF;
	border-color:transparent;	 
}
.staff-detail .small-button {
	margin:0px;
}
.special-icon-margin li i {
	margin-right:10px; 
}
/*---------------------
 21.8 Courses Pages
---------------------*/
.course-section {
	position:relative;
	clear:both; 
}
.courses-wrapper .course-section {
	margin-top:50px; 
}
.courses-wrapper .course-section:first-child { 
	margin-top:0px;
}
/*-------------------------
Styles For Inner Pages Ends
-------------------------*/


/*-------------------------
  22 - Sidebars CSS
-------------------------*/
.sidebar .icon-box { 
	margin-bottom:25px;
}
.sidebar .testimonials {
	padding-top:20px;
	padding-bottom:40px; 
}
.widget {
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
	margin-bottom:25px;
	padding:15px;
}
.sidebar .widget:last-child {
	margin-bottom:0px; 
}
.widget h2 { 
	font-size: 1.2rem;
    text-align: left;
    padding: 0px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
	padding-bottom:10px;
}
.widget .button, .search input[type=text] {
	margin-bottom:0px; 
}
.widget .tags li {
	padding-left:0px;
	padding-right:0px; 
}
.widget .tags li a {
	padding:5px 10px;
	text-wrap:suppress;
	white-space: nowrap;
	margin:5px;
	display:inline-block;
}
.widget .popular-post {
	margin-bottom:8px; 
	margin-top:8px;
	border-bottom:1px solid #ededed;
}
.widget .popular-post:last-child {
	border-bottom:0px;
	margin-bottom:0px; 
}
.widget .popular-post p {
	margin-top:5px; 
}
.widget .popular-post img {
	margin-right:10px; 
}
.sidebar ul li a:before{
   content:"\00BB";
	margin-right:10px;
}
.tags {
	list-style:none;
	margin-left:0px; 
	margin-bottom:0px;
}
.tags li {
	display:inline;
	padding-left:0px;
	padding-right:0px; 
}
.tags li a {
	background-color:#ededed;
}
.tags li a:hover {
	background-color:#ec3437; 
	color:#FFF;
}
.tags li:first-child {
	padding-left:0px; 
}
.sidebar .tags li a:before {
	content:none;
	margin-right:0px; 
}
.sidebar ol li a {
	line-height:22px;
}
/*-------------------------
  Sidebars CSS Ends
-------------------------*/

/*-------------------------
  23 - Products Section 
       CSS
-------------------------*/
.our-store {
	padding-top:60px;
	padding-bottom:60px;
	background-color:#F7f7f7;
}
.our-store .price {
	font-size:15px; 
	text-align:center;
}
.our-store h6 {
	text-align:center; 
	margin-top:10px;
	margin-bottom:10px;
}
.our-store h6 a {
	font-size:1rem;
	font-weight:normal;
}
.price .old {
	margin-left:15px;
	font-weight:normal;
	font-size:90%; 
	text-decoration:line-through;
}
.our-store img {
	width:100%;
	height:auto; 
}
.our-store .pro-rating {
	text-align:center; 
	margin-top:10px;
}
.product-img {
	position:relative; 
	min-height:320px;
	width:100%;
}
.product-img img {
	overflow:hidden;
	min-height:320px;
	width:100%; 
}
.product-img .sale {
	position:absolute;
	top:0px;
	left:0px;	 
	font-size:16px;
	padding:10px 10px;
	text-transform:uppercase;
	font-weight:bold;
	color:#FFF;
	background-color:#174873;
}
.pro-buttons {
	position:absolute;
	bottom:40px;
	left:0px;
	width:100%;
	background-color:#ededed;
}
.pro-buttons a {
	font-size:1.2rem;
}
.pro-buttons, .add-to-cart-top { 
	opacity:0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
  	-o-transition: opacity 0.5s ease-in-out;
  	transition: opacity 0.5s ease-in-out;
}
.single-product:hover>.product-img .pro-buttons, .single-product:hover>.product-img .add-to-cart-top {
	opacity:1; 
}
.pro-buttons ul {
	list-style:none;
	text-align:center; 
	margin:0px;
}
.pro-buttons ul li {
	display:inline;
	margin-left:11px;
	margin-right:11px; 
}
.pro-buttons a {
	text-align:center;
}
.add-to-cart-top .button {
	width:100%;
	position:absolute;
	bottom:0px;
	margin:0px;
}
.pro-buttons, .add-to-cart-top { 
	opacity:0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
}
.single-product:hover>.product-img .pro-buttons, .single-product:hover>.product-img .add-to-cart-top {
	opacity:1; 
}
.single-product {
	padding-top:0px;
	padding-bottom:30px; 
}
.our-store .single-product {
	padding-bottom:0px; 
}
.page-filter {
	padding-top:15px;
	margin-top:15px;
	border-top:1px solid #ededed; 
}
.page-filter .pagination {
	text-align:center; 
}
.single-shop .our-store {
	margin-bottom:0px; 
}
.product-thumbnail img {
	width:100%;
	height:auto; 
}
.product-meta {
	padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    font-size: 0.875rem;
    margin-top: 10px;
}
.product-share {
	padding-top:15px;
	border-top:1px solid #ededed; 
}
.add-cart-option {
	margin-top:25px;
	margin-bottom:25px; 
}
.add-cart-option input[type=number] {
	max-width:75px; 
	float:left;
	margin-right:20px;
}
.product-detail .price {
	font-size:1.25rem; 
	font-weight:bold;
}
.product-detail h2 {
	font-weight:bold;
	text-transform:uppercase; 
}
.single-products-page .price .normal {
	font-size:1.5rem;	 
	font-weight:bold;
}
.price .normal {
	color:#ec3437; 
	font-size:1.25rem;
}
.qty {
	max-width:75px; 
}
.cart-item .product-thumbnail img {
	height:100px !important;
	width:auto; 
}
.apply-coupon {
	margin-top:15px; 
}
.products-page .small-12 {
	margin-top:0px !important;
	margin-bottom:0px !important; 
}
.single-product h6 a {
	font-weight:normal;
	margin-bottom:0px; 
}
.accordion-title:focus, .accordion-title:hover {
	background-color:#FFF;
	border-bottom:1px solid #ec3437;
	color:#ec3437;	
}
.accordion-title {
	font-size:1rem; 
	font-family:'Montserrat', sans-serif; 
	color:#2f2f2f;
}
/*-------------------------
  Products Section End
-------------------------*/

/*-------------------------
  24 - Pricing-list CSS
-------------------------*/
.price-plan {
	width: 100%;
    background: #f7f7f7;
    text-align: center;
}
.price-plan .price-title {
	background: #364e72;
    color: #f7f7f7;
    font-size: 16px;
	font-weight:300;
    padding: 20px 10px 25px;
}
 .title-heading {
	font-size: 26px;
	font-weight:normal;
    margin: 0;
    padding: 9px;
	color:#fff;
}
.price-title strong {
	font-size: 76px;
    align-self: baseline;
    line-height: 1;
    font-weight: 500;
}
.price-details {
	padding: 15px 30px;
	background-color: #f7f7f7;
	margin-left: 0px;
}
.price-details li {
	text-align: left;
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
   	list-style:none;	
}
.price-plan li:last-child {
	border-bottom:0px;
}
 .price-details li .fa {
	  position:relative;
	  margin-right:7px;
}
.red {
	color:red;
}
.orange {
	color:#ec3437;
}
/*-------------------------
  Pricing-list CSS  Ends
-------------------------*/


/*-------------------------
  25 - Footer
-------------------------*/
.footer {
	width:100%;
	position:relative;
}
.footer::after {
	content: "";
    background: url('images/help/gallery9.jpg');
    background-size:cover;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.footer h2 {
	font-size:19px; 
	margin-bottom:10px;
	font-weight:bold;
}
.tx-div {
    width: 45px;
    display: block;
    height: 3px;
    opacity: .8;
    margin: 10px 0 15px;
}
.footerTop {
	 padding-top:60px;
	 padding-bottom:60px;
}
.footerTop ul { 
	margin:0px;
	list-style:none;
}
.vertical li a {
	padding:8px 0px;
}
.footerbottom {
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
}
.footerbottom ul {
	margin:0px;
}
.footerbottom ul li a {
	border-right:1px solid; 
	padding:0px 10px;
}
.footerbottom ul li:first-child a { 
	padding-left:0px;
}
.footerbottom ul li:last-child a { 
	border:0px;
	padding-right:0px;
}
.copyrightinfo {
	font-size:15px;
}
.address i {
    width: 45px;
    height: 45px;
    border: 2px solid;
    font-size: 1.2857142857142858em;
    text-align: center;
    line-height: 41px;
    float: left;
    margin-right: 0.7em;
    margin-bottom: 0.7em;
}
.address h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 5px;
	font-weight:bold;
}
.footer ul {
	margin:0px; 
}
.office-hours li {
	padding-bottom:10px; 
}
.footer-widget input[type=text] {
	height:40px;
	max-width:230px; 
}
.quick-links ul {
	width:50%;
	float:left;
}
.socialicons {
	line-height:25px;
	font-size:18px; 
	font-weight:bold;
}
.socialicons a {
	margin-right:5px;
	margin-left:5px; 
}
.footer {
	background-color:rgba(27, 27, 27, 0.9);
	color:#FFF;
}
.footer a {
	color:#FFF; 
}
.footer p {
	color:#FFF; 
}
.footer a:hover {
	color:#ec3437; 
}
.footer h2 {
	color:#f7f7f7;
}
.tx-div {
	background-color:#f7f7f7;
}
.footerTop ul { 
	color:#FFF;
}
.footerbottom {
	background:#2f2f2f;
	color:#FFF;
}
.footerbottom a {
	color:#FFF; 
}
.footerbottom a:hover {
	color:#ec3437; 
}
.address i, .address h4 {
	color:#f7f7f7;
}
#top {
    position: fixed;
    right: 15px;
    text-align: center;
    bottom: 15px;
    font-weight: bold;
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding: 0px 0px 0px;
    font-size: 22px;
    opacity: .9;
    z-index: 99;
	display:none;	
	background-color:#FFF;
    color:#ec3437;
	line-height: 30px;
	border:1px solid #ec3437;
}
#top:hover {
	background-color:#ec3437; 
	color:#FFF;
}
/*-------------------------
  Footer CSS ends here
-------------------------*/

/*-------------------------
  26 - Mobile Adjustments 
       Media Queries
-------------------------*/
@media only screen and (max-width: 40em) {
.boxed {
	max-width:100%; 
	margin:auto;
	border-left:0px;
	border-right:0px;
}
.logo img {
	height:90px;
	width:auto; 
}
.top-bar {
	width:100%;
	padding:0px; 
}
.topBar p {
	background-color:transparent;
	text-align:center;
	float:none; 
	padding:3px;
}
.topBar ul li {
	padding:3px; 
}
.topBar ul .first-social {
	padding-left:15px; 
}
.topBar .row .small-12 {
	margin-bottom:0px; 
	margin-top:0px;
}
.topBar .text-right {
	text-align:center; 
}
.top-bar-title { 
	margin-right: 0px;
    width: 20px;
    margin: auto;
    float: none;
}
.top-bar ul {
	width:100%;
	margin-top:10px;
	background-color:#174873;
}
.top-bar ul li a {
	padding-left:15px;
	color:#FFF; 
}
.top-bar ul li a:hover, .top-bar ul .is-active a, .top-bar ul li a {
	border-bottom:0px !important;
	color:#FFF !important; 
}
.top-bar ul li a:hover {
	color:#ec3437 !important; 
}
.top-bar ul ul {
	margin-top:0px; 
}
.is-accordion-submenu-parent>a:after {
	border-color: #FFF transparent transparent; 
}
.top-bar ul ul li a {
	padding-left:25px; 
}
.top-bar ul ul li a:before{
   content:"\00BB";
	margin-right:10px;
}
.nav-wrap {
	position:relative; 
}
.search-wrap {
	position:absolute;
	top:-13px;
	right:50%;
	margin-right:-20px; 
	font-size:20px;
}
.menu-icon.dark {
	margin-left:-25px; 
}
.reason-section .medium-8 {
	padding-left:0.625rem; 
}	
.owl-prev , .owl-next { 
    position: relative !important; 
}
.owl-prev:hover , .owl-next:hover { 
    position: relative !important;
}
.owl-next { 
	float:left !important;
	right:0px !important;
	margin-left:5px !important;
}
.owl-prev { 
	float:left !important;
	left:0px !important;
	margin-right:5px !important;
}
.owl-controls {
	margin-top:10px !important; 
}
.owl-nav {
    text-align: center;
    margin: auto;
    width: 90px;
    position: absolute;
    left: 50%;
    margin-left: -45px;
}
.side-controls .owl-prev, .side-controls .owl-next {
	width:35px;
	height:35px;
	margin-top:0px; 
}
.teacher {
	padding-left:10px;
	padding-right:10px; 
}
.section-title-wrapper {
	padding-left:10px;
	padding-right:10px; 
}
.seminar-events .event-thumb {
	padding-right:.625rem; 
	display:none;
}
.gallery-container {
	text-align:center; 
}
.gallery-container a {
	display:inline-block; 
	min-width: calc(50% - 20px);
	width: calc(50% - 20px);
}
.gallery-container .gallery-thumb {
    width: 100%;
    padding: 5px;
    
    margin: 0px !important;
}
.upper-background {
	display:none; 
}
.process .right-info {
    float: left;
    width: calc(100% - 85px);
}
.seminar-events {
	padding-top:40px;
	padding-bottom:40px; 
}
.testimonial-page .testimonial .testimonial-thumb img, .testimonial .testimonial-thumb img {
	width:50px;
	height:50px;
	border-radius:100%; 
	position:absolute;
	bottom:2px;
	left:8px;
}
.testimonial .testimonial-detail {
	width:100%; 
}
.testimonial .testimonial-detail cite {
	margin-left:60px; 
}
.testimonial {
	position:relative; 
}
.testimonials .owl-item {
	 padding-left:10px;
	 padding-right:10px;
}
.courses-table-row {
	width:1200px; 
}
.course-table-wrapper .columns {
	overflow-x:scroll; 
}
.owl-stage-outer:after {
	clear:both !important;
	content: ' ';
    display: table; 
}
.owl-stage-outer {
	margin-bottom:15px; 
}
.header-new .text-right {
	text-align:center;
	margin-top:10px !important;  
}
.navigation-style-two {
	background-color:#FFF; 
	margin-bottom:25px;
}
.navigation-style-two .search-wrap {
	top:-19px; 
}
.navigation-style-two .search-wrap a {
	color:#174873; 
}
.navigation-style-two .top-bar ul ul {
	margin-top:10px; 
}
.navigation-style-two .top-bar ul {
	margin-top:20px; 
}
.menu-icon.dark:after { 
	background: #174873;
    box-shadow: 0 7px 0 #174873,0 14px 0 #174873;
}
.header-new .row .small-12 {
	margin-top:0px;
	margin-bottom:0px; 
}
.header, .nav-wrap {
	position:relative !important; 
}
.nav-wrap .dropdown-pane {
	left:0px !important;
	width:100% !important;
}
.header.header-new {
	box-shadow:0px 0px;
	padding-top:15px;
	padding-bottom:15px;		 
}
.course .teacher {
	padding-left:0px;
	padding-right:0px; 
}
.title-section .row .small-12, .contact-form .row .small-12 {
	margin-top:0px;
	margin-bottom:0px; 
}
.contact-form {
	padding-left:10px;
	padding-right:10px; 
}
.post-meta {
	font-size:0.75rem;
	padding:5px; 
}
.post-meta i {
	display:none; 
}
.widget .popular-post img {
	width:40px;
	height:40px; 
}
.products-page .sidebar {
	margin-bottom:20px !important; 
}
/*-------------------------
  26.1 Top Navigation CSS
-------------------------*/
.brands-wrap .owl-controls {
	margin-top:10px !important; 
}

/*-------------------------
  26.2 Footer Settings
-------------------------*/
.footer-widget {
	margin-bottom:15px; 
}
.footerbottom ul {
	text-align: center;
    width: 100%;
    border-bottom: 0px; 
}
.copyrightinfo {
	text-align:center; 
}
.time-table {
	text-align:center; 
}
.logo {
	text-align:center;
	margin:auto; 
}
.logo-small {
	text-align:center;
}
.row .small-12 {
	margin-top:15px;
	margin-bottom:15px; 
}
.row .small-12:last-child { 
	margin-bottom:0px;
}
.row .small-12:first-child {
	margin-top:0px; 
}
.top-int-bar .small-12, .info-boxes .small-12, .footerbottom .small-12, .latest-news .button, .news .small-12 {
	margin-top:0px;
	margin-bottom:0px; 
}
.text-medium-right {
	text-align:center !important; 
}
.topbar .socialicons {
	text-align:center; 
}
.call-to-action i {
	display:block;
	margin:auto;
	margin-bottom:15px; 
}
.call-to-action h2 {
	text-align:center; 
}
.call-to-action h2 span {
	margin-left:10px; 
}
.call-to-action .button {
	display:table;
	margin:auto; 
}
}
/*-------------------------
  Mobile Adjustments 
  Media Queries
-------------------------*/
